// Compass
@import "compass";
@import "compass/css3";

// Normalize
@import "vendor/normalize";

// Animation
@import "stuff/mixins";

// Animation
@import "stuff/keyframes";

// Font Face
$bmwFont: "7405_-_bmwgroup-bold";
$bmwFontReg: "7408_-_bmwtypev2regular";
$bmwFontBold: "7407_-_bmwtypev2bold-regular";
@include fontface($bmwFontReg);
@include fontface($bmwFontBold);


// GERAL
.nocallout{
    -webkit-touch-callout: none;
}

.invisible{
    visibility: hidden;
}

.hidden{
    display: none;
}

*{
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

// 768px = 48.000em
body{
    @include fontfamily($bmwFontReg);
    @include transition-property(background-color);
    @include transition-duration(.5s);
    background-color: black;
    &.bodyWhite{
        background-color: white;
    }

    img.logo{
        position: absolute;
        top: 2em;
        left: 0;
        z-index: 110;
    }

    div.wrapper{
        //overflow: hidden;
        margin: 0 auto;
        width: 48em;
        height: 100%;
        position: relative;

        div.contentBlack{
            overflow: hidden;
            position: relative;
            height: 100%;

            .contentStart{
                width: 48em;
                height: 100%;
                background-color: black;
                background-image: url('assets/partida.jpg');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .contentStartRed{
                width: 48em;
                height: 100%;
                background-color: transparent;
                background-image: url('assets/partidaRed.png');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .handler{
                width: 6.250em;
                height: 6.250em;
                overflow: hidden;
                display: block;
                background-color: transparent;
                position: absolute;
                margin: -5em 0 0 -3em;
                top: 50%;
                left: 50%;
                cursor: pointer;
                @include border-radius(50em);
            }

            .txt1,
            .txt2{
                @include fontfamily($bmwFontBold);
                font-size: 1.8em;
                position: absolute;
                bottom: 4em;
                color: white;
                min-width: 46em;
            }

            .txt2{
                bottom: 2.5em;
            }
        }

        div.contentWhite{
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            .contentCarro{
                position: relative;
                z-index: 100;
                width: 48em;
                // height: 650px;
                height: 550px;
                background-image: url('assets/carroSerraVerticalNoCarN.jpg');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 200% 200%;
                @include opacity(0);
                @include transition-property(all);
                @include transition-duration(.5s);
                &.contentCarroOriginal{
                    @include opacity(1);
                    background-size: 100% 100%;
                }
                img.carro{
                    position: absolute;
                    width: 672px;
                    height: 242px;
                    top: 228px;
                    left: -130px;
                    -webkit-filter: brightness(1);
                    @include transform(scale(.6));
                    @include opacity(1);
                    @include transition-property(all);
                    @include transition-duration(1s);
                    &.carroGo{
                        -webkit-filter: brightness(0);
                        @include transform(scale(1));
                        @include opacity(1);
                        left: 0;
                    }
                }
            }
            ul{
                $currWidth: 127px;
                $currHeight: 70px;
                overflow: hidden;
                min-height: $currHeight;
                margin: 0;
                padding: 0;
                list-style: none;
                position: relative;
                z-index: 99;
                top: 1px;
                display: block;
                @include clearfix();
                li{
                    font-size:.5em;
                    width: $currWidth;
                    height: $currHeight;
                    margin-right: 1px;
                    color: #FFF;
                    display: block;
                    float: left;
                    position: relative;
                    top: -$currHeight;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 100% 100%;
                    span{
                        width: $currWidth - 4;
                        padding: 1px 2px;
                        text-align: center;
                        position: absolute;
                        bottom: 2px;
                    }
                    &:first-child{
                        width: $currWidth + 1;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    $i: 1;
                    @while $i < 7 {
                        &.img0#{$i} {
                            background-image: url('../images/n0#{$i}.jpg');
                        }
                        $i: $i + 1;
                    }
                }
            }

            .contentTxt{
                font-size: 90%;
                $gray: #4c4d4f;
                position: relative;
                padding: 1em;
                color: $gray;
                .txt{
                    padding-bottom: 20px;
                }
                .txt3{
                    padding-bottom: 10px;
                    @include fontfamily($bmwFontBold);
                    font-size: 1.8em;
                    span{
                        position: relative;
                    }
                }
                .txt4{
                    font-size: .8em;
                }
                .txtMedium{
                    @include fontfamily($bmwFontBold);
                    font-size: 1em;
                    &.black{
                        color: black;
                    }
                    &.line{
                        line-height: .9em;
                    }
                    span{
                        font-size: .7em;
                        line-height: .9em;
                    }
                }
                .txt6{
                    position: absolute;
                    bottom: 0;
                    right: 1em;
                    font-size: .8em;
                    font-weight: bold;
                    padding: 1.5em 2.5em 1em 2em;
                    vertical-align: baseline;
                }
            }
        }
    }
}

// 1024px = 64.000em
@media screen and (min-width: 64.000em) {
    body{
        div.wrapper{
            width: 64em;
            div.contentBlack{
                .contentStart{
                    background-color: black;
                    width: 64em;
                }

                .contentStartRed{
                    width: 64em;
                }
                .txt1,
                .txt2{
                    font-size: 2em;
                    min-width: 62em;
                }
            }

            div.contentWhite{
                .contentCarro{
                    background-image: url('assets/carroSerraHorizontalNoCarN.jpg');
                    width: 64em;
                    height: 370px;
                    img.carro{
                        top: 118px;
                        left: 10px;
                        &.carroGo{
                            left: 150px;
                        }
                    }
                }
                ul{
                    $currWidth: 169px;
                    $currHeight: 80px;
                    min-height: $currHeight;
                    li{
                        width: $currWidth;
                        height: $currHeight;
                        top: -$currHeight;
                        span{
                            width: $currWidth - 4;
                        }
                        &:first-child{
                            width: $currWidth + 2;
                        }
                        &:last-child{
                            width: $currWidth + 3;
                            margin-right: 0;
                        }
                    }
                }

                .contentTxt{
                    .txt3{
                        padding-bottom: 8px;
                    }

                    .txt{
                        padding-bottom: 10px;
                    }
                    
                    .txtMedium{
                        font-size: .9em;
                    }
                }
            }
        }
    }
}


